<?xml version="1.0" encoding="utf-8" ?>
<appSettings>  
  <!--邮件账号-->
  <add key="SmtpUserName" value="LeonChen_TC@163.com"/>
  <!--邮件密码-->
  <add key="SmtpPwd" value="-pl0ok9ij"/>
  <!--邮件服务器-->
  <add key="SmtpServer" value="smtp.163.com"/>
  <!--其他系统配置-->
  <add key="webpages:Version" value="1.0.0.0"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>